.pagination-container {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination-item {
  width: 30px;
  height: 30px;
  font-size: 15px;
  color: #343a40;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.pagination-item:hover {
  background: #007bff;
  border: 1px solid #007bff;
  color: #fff;
  text-decoration: none;
}

.pagination-link-active {
  background: #007bff;
  color: #fff;
  border: 1px solid #007bff;
}

.pagination-break-item {
  width: 30px;
  height: 30px;
  font-size: 15px;
  color: #343a40;
  display: flex;
  justify-content: center;
  margin-left: 5px;
  pointer-events: none;
}

.arrow-previous {
  display: none;
}

.arrow-next {
  display: none;
}